{
  "openapi": "3.1.0",
  "info": {
    "title": "APK Sentinel API",
    "version": "1.1.0",
    "description": "Paid availability unverified; previous beta terms expired. Only the unpaid 402 exchange was live-observed. The report schema describes published artifacts. Paid admission/result routes require deployment reconciliation; see agent-api-contract.md."
  },
  "servers": [
    {
      "url": "https://api.willowbirdie.com",
      "description": "Observed unpaid challenge endpoint; not a claim of current paid-service readiness."
    }
  ],
  "paths": {
    "/v1/apk/triage": {
      "post": {
        "summary": "Inspect unpaid x402 challenge (no payment or APK required)",
        "operationId": "inspectPaymentChallenge",
        "description": "Only the unpaid response is verified. This intentionally incomplete live contract must not be used to generate a paid client.",
        "responses": {
          "402": {
            "description": "Payment challenge observed; does not establish renewed terms.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 v2 payment challenge; inspect accepts rather than assuming historical values.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AnalysisReport": {
        "$ref": "./schemas/analysis-report.schema.json"
      },
      "PaymentRequired": {
        "type": "object",
        "required": [
          "error",
          "paymentRequired"
        ],
        "properties": {
          "error": {
            "const": "payment_required"
          },
          "paymentRequired": {
            "type": "object",
            "required": [
              "scheme",
              "network",
              "payTo",
              "asset",
              "maxAmountRequired"
            ],
            "properties": {
              "scheme": {
                "type": "string"
              },
              "network": {
                "type": "string"
              },
              "payTo": {
                "type": "string"
              },
              "asset": {
                "type": "string"
              },
              "maxAmountRequired": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
